---
import { getEntry, render } from "astro:content";
import Breadcrumbs from "@components/navigation/Breadcrumbs.astro";
import PageHeader from "@components/document/PageHeader.astro";
import PageWrapper from "@components/document/PageWrapper.astro";
import { getPageMeta } from "@utils/meta";

const page = await getEntry("pages", "library-index");
if (!page) {
    throw new Error("page not found");
}
const { Content } = await render(page);

const libraryLinks = await getEntry("siteNavigation", "library");
---

<PageWrapper pageID={page.id} pageMeta={getPageMeta(page)}>
    <div class="content-wrapper paragraph">
        <Breadcrumbs />
        <PageHeader title={page.data.title}>
            <div class="preview">
                <Content />
            </div>
        </PageHeader>
        <ul class="featured-links | list-spacer" data-list="special">
            {
                libraryLinks?.data.links.map((link) => (
                    <li>
                        <a class="featured-link" href={link.href}>
                            <p class="link-title">
                                {link.title}
                                <span class="arrow">→</span>
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</PageWrapper>
